- const getInputName = (f, property) => `${f.name}[${property}]`

mixin formFor(f, form_class, options = {})
    form(action=_.get(options, 'url') class=`${form_class}` method=_.get(options, 'method', 'get'))
        block

mixin input(f, property, options = { as: "text" })
    - const value = f.object[property] === undefined ? '' : f.object[property]
    .form-group(class=(f.errors[property] && 'has-danger'))
        input(name=getInputName(f, property) id=`${f.object}` class='form-control' type=options['as'] value=`${value}` placeholder=`${property}`)
        if f.errors[property]
            .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin button(f, button_label = 'Ok', type = 'submit')
    .form-group
        input(class='btn btn-block' type=`${type}` value=`${button_label}`)