- const getInputName = (f, property) => `${f.name}[${property}]`

mixin formFor(f, form_class, options = {})
    form(action=_.get(options, 'url') class=`${form_class}` method=_.get(options, 'method', 'get'))
        block

mixin input(f, property, options = { as: "text" })
    - const value = f.object[property] === undefined ? '' : f.object[property]
    .form-group(class=(f.errors[property] && 'has-danger'))
        input(name=getInputName(f, property) class='form-control' type=options['as'] value=`${value}` placeholder=`${property}`)
        if f.errors[property]
            .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin button(f, button_label = 'Ok', type = 'submit')
    .form-group
        input(class='btn btn-block' type=`${type}` value=`${button_label}`)

mixin textarea(f, property)
    - const value = f.object[property] === undefined ? '' : f.object[property]
    - console.log('#############$$$$$$$$$$');
    - console.log(value);
    .form-group(class=(f.errors[property] && 'has-danger'))
        textarea(name=getInputName(f, property) class='form-control' type='text' value=`${value}` placeholder=`${property}`)
        if f.errors[property]
            .form-control-feedback= f.errors[property].map(({message}) => message).join('. ')

mixin select(f, property, users, creator, creatorId)
    - const value = f.object[property] === undefined ? '' : f.object[property]
    .form-group(class=(f.errors[property] && 'has-danger'))
        select(name=getInputName(f, property) class='form-control' value=`${value}`)
            option(value= creatorId selected='selected') Assigned to
            each user in users
                option(value= user.id)= user.fullName
        if f.errors[property]
            .form-control-feedback= f.errors[property].map(({message}) => message).join('. ')

mixin formSearch()
    form(action=urlFor('tasks#index') method='get')
        block


mixin selectTags(tags)
    .form-group
        select(class='form-control' name='tagId')
            option(selected='') All tags
            each tag in tags
                option(value= tag.id)= tag.name

mixin selectStatus(statuses)
    .form-group
        select(class='form-control' name='statusId')
            option(selected='') All statuses
            each status in statuses
                option(value= status.id)= status.name

mixin selectUsers(users)
    .form-group
        select(class='form-control' name='assignedToId')
            option(selected='') All assignee
            each user in users
                option(value= user.id)= user.fullName

mixin inputTags(tags, e)
    - const value = tags
    .form-group(class=('tags' && 'has-danger'))
        input(name='form[tags]' class='form-control' type='text' value=`${value}` placeholder=`${tags}`)
        if e
            .form-control-feedback= e.message

mixin reselect(f, property, users, assingnedTo, assignedToId)
    - const value = f.object[property] === undefined ? '' : f.object[property]
    .form-group(class=(f.errors[property] && 'has-danger'))
        select(name=getInputName(f, property) class='form-control' value=`${value}`)
            option(value= assignedToId selected='selected')= assingnedTo
            each user in users
                option(value= user.id)= user.fullName
        if f.errors[property]
            .form-control-feedback= f.errors[property].map(({message}) => message).join('. ')