extends /layouts/application.pug

block content
    table.table.table-stripped
        thead
            tr
                th Task
                th Created At
                th Status
                th Created By
                th Assigned To
                th Description
        tbody
            each task in tasks
                tr
                    td= task.name
                    td= task.createdAt
                    td= task.statusName()
                    td= task.creatorId
                    td= task.assignedToId
                    td= task.description