extends /layouts/application.pug

block content
    .container.col-lg-10.mb-5
        .py-1.mt-5
            .form-group.row
                label.col-md-1.col-form-label.text-nowrap
                    b My tasks
                .col-md-2
                    form(action=urlFor('tasks#new') method='get')
                        button.btn.btn-block.btn-primary(type='submit') New task
                .col-md-2
                    form(action=urlFor('tasks#index') method='get')
                        button.btn.btn-block.btn-warning(type='submit' name='creatorId' value=signedId()) Opened by me
                .col-md-2
                    form(action=urlFor('tasks#index') method='get')
                        button.btn.btn-block.btn-warning(type='submit' name='assignedToId' value=signedId()) Assigned to me

        .py-1.mt-2
            form(action=urlFor('tasks#index') method='get')
                .form-group.row
                    label.col-md-1.col-form-label.text-nowrap
                        b Filter by
                    .col-md-2
                        select(class='form-control' name='tagId')
                            option(selected='') All tags
                            each tag in tags
                                option(value= tag.id)= tag.name
                    .col-md-2
                        select(class='form-control' name='statusId')
                            option(selected='') All statuses
                            each status in statuses
                                option(value= status.id)= status.name
                    .col-md-2
                        select(class='form-control' name='assignedToId')
                            option(selected='') All assignee
                            each user in users
                                option(value= user.id)= user.fullName
                    .col-md-2
                        button.btn.btn-block.btn-warning.text-nowrap(type='submit') Filter

    .container.col-lg-10
        .my-2
        table.table.table-striped
            thead
                tr
                    th.col-xs-1.small.text-nowrap
                        b ID
                    th.col-xs-1.small.text-nowrap
                        b Created At
                    th.col-xs-1.small.text-nowrap
                        b Status
                    th.col-xs-2.small.text-nowrap
                        b Task
                    th.col-xs-2.small.text-nowrap
                        b Tags
                    th.col-xs-2.small.text-nowrap
                        b Created By
                    th.col-xs-2.small.text-nowrap
                        b Assigned To
                    th.col-xs-1.small.text-nowrap
                        b Description
            tbody
                each task in tasks
                    tr
                        td.small
                                a(href=urlFor('tasks#show', { id: task.id }))= formatId(task.id, 6)
                        td.small.text-nowrap= formatDate(task.createdAt)
                        td.small= task.status
                        td.small= task.name
                        td.small
                            row
                                each tag in task.tags
                                    if tag !== '-'
                                        .d-inline
                                            span
                                                kbd.py-0.my-1= tag
                        td.small= task.creator
                        td.small= task.assignedTo
                        - const description = task.description.length < 51 ? task.description : `${task.description.slice(0,47)}...`
                        td.small= description