extends /layouts/application.pug

block content
    .col-xs-4.py-1
        form(action=urlFor('task_reg') method='get')
            button.btn.btn-block.btn-outline-primary(type='submit') New task
    .col-xs-4.py-1
        form(action=urlFor('tasks_list'))
            button.btn.btn-block.btn-outline-primary(type='submit' name='creatorId' value=signedId()) Opened by me
    .col-xs-4.py-1
        form(action=urlFor('tasks_list'))
            button.btn.btn-block.btn-outline-primary(type='submit' name='assignedToId' value=signedId()) Assigned to me
    .col-xs-4.py-1
        form(action=urlFor('tasks_list'))
        .form-gdata-group
                select.form-control.btn-block
                    option(selected='') ts
                select.form-control.btn-block
                    option(selected='') ts2
                button.btn.btn-block Search

    table.table.table-stripped
        thead
            tr
                th ID
                th Task
                th Created At
                th Tags
                th Status
                th Created By
                th Assigned To
                th Description
        tbody
            each task in tasks
                tr
                    td
                        a(href=urlFor('task', { id: task.id }))= task.formattedId
                    td= task.name
                    td= formatDate(task.createdAt)
                    td= task.tags
                    td= task.status
                    td= task.creator
                    td= task.assignedTo
                    td= task.description