extends /layouts/application.pug

block content
    .container.col-lg-6
        .py-1
            form(action=urlFor('tasks#new') method='get')
                button.btn.btn-block.btn-outline-primary(type='submit') New task
        .py-1
            form(action=urlFor('tasks#index'))
                button.btn.btn-block.btn-outline-primary(type='submit' name='creatorId' value=signedId()) Opened by me
        .py-1
            form(action=urlFor('tasks#index'))
                button.btn.btn-block.btn-outline-primary(type='submit' name='assignedToId' value=signedId()) Assigned to me
        .py-1
            +formSearch()
                +selectTags(tags)
                +selectStatus(statuses)
                +selectUsers(users)
                +button(f, 'Confirm')

    .container.col-lg-10
        table.table.table-striped
            thead
                tr
                    th.small
                        b ID
                    th.small.b Created At
                    th.small.strong Status
                    th.small.strong Task
                    th.small.strong Tags
                    th.small.strong Created By
                    th.small.strong Assigned To
                    th.small.strong Description
            tbody
                each task in tasks
                    tr
                        td.small
                                a(href=urlFor('tasks#show', { id: task.id }))= task.formattedId
                        td.small= formatDate(task.createdAt)
                        td.small=task.status
                        td.small= task.name
                        td.small= task.tags
                        td.small= task.creator
                        td.small= task.assignedTo
                        td.small= task.description