extends /layouts/application.pug

block content
    .container.col-lg-6
        .py-1
            form(action=urlFor('tasks#new') method='get')
                button.btn.btn-block.btn-outline-primary(type='submit') New task
        .py-1
            form(action=urlFor('tasks#index'))
                button.btn.btn-block.btn-outline-primary(type='submit' name='creatorId' value=signedId()) Opened by me
        .py-1
            form(action=urlFor('tasks#index'))
                button.btn.btn-block.btn-outline-primary(type='submit' name='assignedToId' value=signedId()) Assigned to me
        .py-1
            +formSearch()
                +selectTags(tags)
                +selectStatus(statuses)
                +selectUsers(users)
                +button(f, 'Confirm')

    each task in tasks
        - const customId = `#${task.formattedId}`
        .row
            .col-1
                a(href=urlFor('tasks#show', { id: task.id }))= customId
            .col= task.name
        .row
            .col.mb-4= task.description