extends /layouts/application.pug

block content
    .container.col-lg-6
        .py-1
            form(action=urlFor('tasks#new') method='get')
                button.btn.btn-block.btn-outline-primary(type='submit') New task
        .py-1
            form(action=urlFor('tasks#index'))
                button.btn.btn-block.btn-outline-primary(type='submit' name='creatorId' value=signedId()) Opened by me
        .py-1
            form(action=urlFor('tasks#index'))
                button.btn.btn-block.btn-outline-primary(type='submit' name='assignedToId' value=signedId()) Assigned to me
        .py-1
            +formSearch()
                +selectTags(tags)
                +selectStatus(statuses)
                +selectUsers(users)
                +button(f, 'Confirm')

    .container.col-lg-10
        table.table-stripped.table-condenced
            thead
                tr
                    th ID
                    th Task
                    th Created At
                    th Tags
                    th Status
                    th Created By
                    th Assigned To
                    th Description
            tbody
                each task in tasks
                    tr
                        td
                            a(href=urlFor('tasks#show', { id: task.id }))= task.formattedId
                        td= task.name
                        td= formatDate(task.createdAt)
                        td= task.tags
                        td= task.status
                        td= task.creator
                        td= task.assignedTo
                        td= task.description