extends /layouts/application.pug

block content
    .container.col-lg-6
        .py-1
            form(action=urlFor('tasks#new') method='get')
                button.btn.btn-block.btn-outline-primary(type='submit') New task
        .py-1
            form(action=urlFor('tasks#index'))
                button.btn.btn-block.btn-outline-primary(type='submit' name='creatorId' value=signedId()) Opened by me
        .py-1
            form(action=urlFor('tasks#index'))
                button.btn.btn-block.btn-outline-primary(type='submit' name='assignedToId' value=signedId()) Assigned to me
        .py-1
            +formSearch()
                +selectTags(tags)
                +selectStatus(statuses)
                +selectUsers(users)
                +button(f, 'Confirm')

    table.table.table-striped
        thead
            tr
                th.col-xs-1.small
                    b ID
                th.col-xs-1.small
                    b Created At
                th.col-xs-1.small
                    b Status
                th.col-xs-2.small
                    b Task
                th.col-xs-1.small
                    b Tags
                th.col-xs-2.small
                    b Created By
                th.col-xs-2.small
                    b Assigned To
                th.col-xs-2.small
                    b Description
        tbody
            each task in tasks
                tr
                    td.small
                            a(href=urlFor('tasks#show', { id: task.id }))= task.formattedId
                    td.small= formatDate(task.createdAt)
                    td.small=task.status
                    td.small= task.name
                    td.small= task.tags
                    td.small= task.creator
                    td.small= task.assignedTo
                    td.small= task.description