doctype html
html(lang="en")
    head
        title= Title
        script(src='/assets/vendor.js')
        script(src='/assets/application.js')
    body
        .container
            nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
                button.navbar-toggler.navbar-toggler-right
                    span.navbar-toggler-icon
                a.navbar-brand(href="/") Task Manager
                    if isSignedIn()
                        .d-flex.justify-content-center
                            ul.navbar-nav.mr-auto
                                li.nav-item.active
                                    a.nav-link(href=urlFor('root')) Users
                        .d-flex.justify-content-end
                            ul.navbar-nav
                                li.nav-item
                                    a.nav-link(href=urlFor('root') data-method='delete' rel='nofollow') Sign Out
                    else
                        .d-flex.justify-content-end
                            ul.navbar-nav
                                li.nav-item
                                    a.nav-link(href=urlFor('root')) Sign In
                                li.nav-item
                                    a.nav-link(href=urlFor('root')) Sign Up
        .container
            - const msg = flash.get()
            if msg
                .alert.alert-info.m-3= msg
            block content