include /mixins/forms.pug

doctype html
html(lang="en")
    head
        title= Title
        script(src='/assets/vendor.js')
        script(src='/assets/application.js')
    body
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
            button.navbar-toggler.navbar-toggler-right
                span.navbar-toggler-icon
            a.navbar-brand(href="/") Task Manager
            .collapse.navbar-collapse
                if isSignedIn()
                    ul.navbar-nav
                        li.nav-item.active
                            a.nav-link(href=urlFor('user_profile', { id: signedId() })) Profile
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href=urlFor('users_list')) Users
                    ul.navbar-nav
                        li.nav-item
                            form(action=urlFor('session_exit') method='post')
                                button.btn(type='submit' name='_method' value='delete') Log out
                else
                    ul.navbar-nav.mr-auto
                    ul.navbar-nav.navbar-right
                        li.nav-item
                            a.nav-link.active(href=urlFor('session_new')) Log In
                        li.nav-item
                            a.nav-link(href=urlFor('user_reg')) Sign Up
        .container
            - const msg = flash.get()
            if msg
                .alert.alert-info.m-3= msg
            block content