extends /layouts/application.pug

block content
    if isSignedIn()
        .container
            table.table
                thead.thead-bordered
                    tbody
                        tr
                            th(scope='row') ID
                            td= user.id
                        tr
                            th(scope='row') Email
                            td= user.email
                        tr
                            th(scope='row') First name
                            td= user.firstName
                        tr
                            th(scope='row') Last name
                            td= user.lastName
            if isOwner
                form(action=urlFor('users#edit', { id: user.id }) method='get')
                    button.btn.btn-block(type='submit') Update account
                form(action=urlFor('users#destroy', { id: user.id }) method='post')
                    button.btn.btn-block.btn-danger.mt-5(type='submit' name='_method' value='delete') Delete account