extends /layouts/application.pug

block content
    if isSignedIn()
        .container.align-content-center.justify-content-center
            .py-4
                - const usersProfileTitle = `${user.fullName}'s profile`
                h2.text-center= usersProfileTitle
        .container.col-4.mt-4
            .row.p-3
                .col-6.text-nowrap
                    b Full Name
                .col-6.text-nowrap.rounded= user.fullName
            .row.p-3
                .col-6.text-nowrap
                    b E-mail
                .col-6.text-nowrap.rounded= user.email
            .row.p-3
                .col-6.text-nowrap
                    b ID
                .col-6.text-nowrap.rounded= formatId(user.id)

            if isOwner
                .row.form-group.mt-5
                    .col-md-6
                        form(action=urlFor('users#edit', { id: user.id }) method='get')
                            button.btn.btn-block.btn-warning(type='submit') Edit profile
                    .col-md-6
                        form(action=urlFor('users#destroy', { id: user.id }) method='post')
                            button.btn.btn-block.btn-danger(type='submit' name='_method' value='delete') Delete account